{% extends "account/base.html" %}

{% load account %}

{% block head_title %}Sign In{% endblock %}

{% block content %}

<h1>Sign In</h1>

<p>If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.</p>

<form method="POST" action="{% url 'account_login' %}"> {% csrf_token %}
  <table> {{ form.as_table }} </table>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
  <button class="primaryAction" type="submit">Sign In</button>
</form>

{% endblock %}
