{% extends "base.html" %}
{% load humanize %}

{% block content %}
<h2>{{submission.category.name}}: {{ submission.name }}</h2>
<i>submitted by <a href="{% url 'user-detail' submission.user.pk %}">{{ submission.user }}</a></i> • {{submission.downloadCount}} downloads 

<p>
<h3>Description:</h3>
{{submission.description}}
</p>

<hr>
<h3>Comments</h3>
<ul>
{% for comment in comment_list %}
	<li>
		<a href="{% url 'user-detail' submission.user.pk %}">{{ comment.user }}</a> comented {{ comment.date|naturaltime }}:<br/>
		<p>{{ comment.text }}</p>
	</li>	
{% endfor %}
</ul>
</p>
{% endblock %}
